<h1> Here are all the artists of the encyclopedia. </h1>

<ol>
    <% @artists.each do |art| %>
    <li><a href= "/artists/<%=art.id%>">
        <%= art.name %>
        </a>
    </li>
    <% end %>
</ol>
