<h1>Artist Entry</h1>

<form action="/artists" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name"><br>
    <label for="hometown">Hometown: </label>
    <input type="text" name="hometown"><br>
    <label for="instrument">Instrument: </label>
    <input type="text" name="instrument"><br>

    <input type="submit" value="Add an artist to the encyclopedia">
 </form>