<h1>Add a song to the encyclopedia</h1>

<form action="/songs" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="title"> <br>
    <label for="duration">Duration: </label>
    <input type="text" name="duration"><br>
    <label for="genre">Genre: </label>
    <input type="text" name="genre"><br>

    <input type="submit" value="Add this song to the encyclopedia">

</form>
