<h1>Edit this song's entry</h1>
<form action="/songs/" method="POST">

    <label for="title">Title: </label>
    <input type="text" title="title"> <br>

    <label for="duration">Duration: </label>
    <input type="text" title="duration"><br>

    <label for="genre">Genre: </label>
    <input type="text" title="genre"><br>

    <input type="submit" value="Add this song to the encyclopedia">

</form>
