<h1>Josh & Davis' Music Encyclopedia</h1>

<p>The information here should help the reader keep track of Music History.</p>

<a href="/songs">See list of all the songs</a><br>
<a href="/artists">See list of all the artists</a><br>
<a href="/">Go back to homepage</a>